/*Open Sans font class, pasted from google fonts, edited some values*/
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;             
  }


/*Common Styles*/
.text-primary {
    color: #FD6E0A;
}
.secondary-background {
    background-color: #FFF8F3;
}
.dark-1-color {
    color: #181818;
}
.dark-2-color {
    color: #474747;
}
.dark-3-color {
    color: #757575;
}
.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-headings {
    font-size: 35px;
    font-weight: bold;
}
.section-description-main {
    font-size: 18px;
}
.section-text-alignment {
    text-align: center;
}


/*Header Styles*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;        /* first image | second image */
    /* margin: 38px 0 25px 23px; */
}


/*Nav styles*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title-logo {
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {                  /*you can skip: nav *ul li a*/
    text-decoration: none;
    font-size: 20px;
}


/*Banner section styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content {
    max-width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
}
.banner-description {
    font-size: 18px;
}
.banner-profile-pic {
    width: 584px;
}


/* Main section styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.main section {                /*All immediate sections inside main*/
    margin-top: 130px;
    margin-bottom: 130px;
}


/* About section styles */
.about {
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}
.about-info {
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-size: 20px;
    color: #757575;
}
.item-description {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}


/* Skills Section Style */
.skills {

}
.skills-container {
    display: flex;  
    gap: 24px;
}
.skill-cards {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);  /* X-axis| Y-axis | Blur | Spread | color */  
}


/* Resume Section Style */
.resume-container {
    display: flex;
    gap: 24px;
}
.resume-column-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.resume-info-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.resume-info-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-info-description {
    font-size: 16px;
    color: #757575;
}
.resume hr {
    margin: 30px 0px;
}
.resume-download-button {
    text-align: center;
    margin-top: 50px;
}