/*Open Sans font class*/
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/*Common Styles*/
.text-primary {
    color: #FD6E0A;
}

/*Nav styles*/
nav {
    display: flex;
}

.nav-title-logo {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    list-style: none;
}

nav li a {                  /*you can skip: nav *ul li a*/
    text-decoration: none;
    
}